# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Hardhat artifacts and cache
contracts/artifacts/
contracts/cache/
contracts/typechain/
contracts/typechain-types/

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Static server output
public/.DS_Store

# VS Code settings